* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS DARK MODE */
:root {
  --text-color: white;
  --text-weight: bold;
  --bg-img: url(./assets/assets/bg-desktop.jpg);
  --switch-btn: url(./assets/assets/moon-stars.svg);
  --border-btn: rgba(255, 255, 255, 0.5);
  --border-btn-hover: rgba(255, 255, 255, 0.20);
  --box-shadow-btn-hover: rgba(255, 255, 255, 0.30);
  --border-span: rgba(255, 255, 255, 0.5);
  --bg-span: rgba(255, 255, 255, 0.1);
  --bg-color-li-a: rgba(255, 255, 255, 0.1);
  --border-li-a: rgba(255, 255, 255, 0.5);
  --border-color-li-a-hover: #fff;
  --bg-color-li-a-hover: rgba(255, 255, 255, 0.05);
  --icon-hover:rgba(255, 255, 255, 0.20);
}

.light {
  --text-color: black;
  --text-weight: bold;
  --bg-img: url(./assets/assets/bg-desktop-light.jpg);
  --switch-btn: url(./assets/assets/sun.svg);
  --border-btn-hover:rgba(0, 0, 0, 0.10);
  --box-shadow-btn-hover: rgba(0, 0, 0, 0.10);
  --border-span: rgba(0, 0, 0, 0.50);
  --bg-span: rgba(0, 0, 0, 0.05);
  --bg-color-li-a: rgba(0, 0, 0, 0.05);
  --border-li-a: rgba(0, 0, 0, 0.50);
  --border-color-li-a-hover: #000;
  --bg-color-li-a-hover: rgba(0, 0, 0, 0.02);
  --icon-hover: rgba(0, 0, 0, 0.10);
}

body {
  background: var(--bg-img) no-repeat center / cover;
  height: 100vh;
  width: 100vw;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  font-weight: var(--text-weight);
}

#container {
  width: 100vw;
  max-width: 588px;
  margin: 56px auto 0px;
}

/* PROFILE */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: bold;
  line-height: 24px;
  padding-top: 8px;
}

/* SWITCH */
#switch {
  position: relative;
  width: 64px;

  margin: auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: rgb(255, 255, 255) var(--switch-btn) no-repeat center;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;

  border: 1px solid var(--border-span);
  border-radius: 9999px;
  background: var(--bg-span);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#switch button:hover {
  outline: 8px solid var(--border-btn-hover);
  transition: 0.2s;
}

/* LINKS */
ul {
  list-style-type: none;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  padding: 16px 24px;
  background: var(--bg-color-li-a);
  border: 1px solid var(--border-li-a);
  border-radius: 9px;
}

ul li a:hover {
  border: 1.5px solid var(--border-color-li-a-hover);
  background: var(--bg-color-li-a-hover);
  backdrop-filter: blu(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.2s;
}

/* SOCIAL ICONS */
#social-icons {
  padding: 24px;
  display: flex;
  justify-content: center;

  font-size: 24px;
}

#social-icons a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
#social-icons a:hover {
  background: var(--icon-hover);
  border-radius: 50%;
}

footer {
  text-align: center;
  font-size: 12px;
}


/* Animation button */
@keyframes slide-in{
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-back{
  from{
    left: 50%;
  }
  to{
    left: 0;
  }
}


/* Responsive */
@media (max-width: 320px){
  :root{
    --bg-img: url(./assets/assets/bg-mobile.jpg);
  }
  .light{
    --bg-img: url(./assets/assets/bg-mobile.light.jpg);
  }
}